
<% provide(:title, "Home") %>
<div class="center splash">
  <h1 class="sub">
    Save money on your online subscriptions. Join Shareflix!
  </h1>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
