
<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Divvy</h1>
  <h2>This is Divvy</h2>
  <p>
    Save money on your online subscriptions. Join Divvy!
  </p>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

