
<% provide(:title, "Usertype") %>
<div class="center splash">
  <h1 class="sub">
    I am looking to...
  </h1>
  <%= link_to "Share my plan", '/contract', class: "btn btn-lg btn-primary" %>
  <%= link_to "Join a plan", '/joiner', class: "btn btn-lg btn-primary" %>
</div>
