@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
//   padding-top: 20px;
  background-color: #141414;
  color: white;
}

.navbar {
    margin-left: 20px;
    margin-right: 50px;
    background-color: #141414;
}

.flexible-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

//================NAVBAR===========================

/* Top Navbar */
nav {
  z-index: 5;
  width: 100%;
  height: 100px;
  background-color: black;
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-bottom: 0px;
}

.nav-item a {
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  color: white;
  padding-bottom: 1px;
}

.nav-item {
  padding-right: 20px;
}

.nav-item a {
  padding-bottom: 1px;
}

.nav-item:hover {
  /* border-bottom: 1px solid white; */
  text-decoration: underline;
}

.nav-item:hover a {
  color: white;
}

.nav-brand {
  left: 20px;
  position: relative;
}

//========================================
//==============SIDENAV===========================

#hamburger {
  right: 15px;
  top: 30px;
}

#sidenav-toggle {
  padding: 0px;
}

#sidenav-toggle span, #sidenav-toggle span:before, #sidenav-toggle span:after {
  position: absolute;
  display: block;
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  content: '';
}

#sidenav-toggle span:before {
  top: -10px;
}

#sidenav-toggle span:after {
  bottom: -10px;
}

#sidenav-toggle span, #sidenav-toggle span:before, #sidenav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#sidenav-toggle.active span {
  background-color: transparent;
}

#sidenav-toggle.active span:before, #sidenav-toggle.active span:after {
  top: 0;
}

#sidenav-toggle.active span:before {
  transform: rotate(45deg);
}

#sidenav-toggle.active span:after {
  transform: rotate(-45deg);
}

.entireSideNav {
  display: none;
}

.sidenav {
  opacity: 0; /* Initial display value */
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  padding-left: 15px;
  background-color: #222; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

}

.sidenav-brand img {
  width: 200px;
}

.sidebar-links {
  margin-bottom: 30px;
}

.sidenav-links {
  list-style: none;
}

.sidenav-toggle-holder {
  position: fixed;
  top: 10px;
  right: 20px;
  font-size: 36px;
  z-index:5;
  width: 35px;
  height: 45px;
}

.sidenav-content {
  top: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
}

@media only screen and (max-width : 812px) {
  .entireSideNav {
    display: block;
  }

  .navbar-custom {
    display: none;
  }
}

//======================================


//=============CARDS======================

.card {
  height: 300px;
  overflow: scroll;
  max-height: 300px;
  width: 18rem;
  margin: 8px;
}
.default-color {
  color: white;
}

select {
  color: black;
}

input {
  color: black;
}

nav {
    background-color: #141414;
}

a {
    color: lightgray
}

.card {
  color: white;
  background-color: black;
  border: 1px solid rebeccapurple;
}

.container {
  top: 100px;
  position: relative;
  padding: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.sub {
    font-size: 2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
}

//=================== BORDER FORM=============================
.border-form-holder {
  position: absolute;
  max-width: 400px;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.border-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  // text-align: center;

}


//===================LOGIN FORM=================================
.login-form {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%)
}

.login-title {
  margin-bottom: 28px;
}

.top-relative-style {
  top: 100px;
  position: relative;
}

.form-control {
  width: 100%;
}

.password-box {
  margin-bottom: 70px !important;
}
.signin_button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  margin-bottom: 16px;
}
//==================JOINERS & SHARERS=================

.splash {
    color: white;
    display: block;
    margin-top: 5%;
}

.menu-card {
    height: 150px;
    width: 150px;
}

.logo {
    height: 35px;
    margin-top: 10px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
