<%= form_with(model: sharer, local: true) do |form| %>
  <% if sharer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sharer.errors.count, "error") %> prohibited this sharer from being saved:</h2>

      <ul>
      <% sharer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
