<div class="border-form-div">
  <div class="login-form">

    <h1 class="default-color">Share your plan</h1>

    <%= render 'form', sharer: @sharer %>

    <%= link_to 'Back', '/' %>

    </div>
</div>
